<div local-class="info">
  <h2 class="ui dividing header">
    {{book.title}}
    <div class="sub header">
      by {{#link-to "authors.author" book.author.slug}}
        {{book.author.fullName}}
      {{/link-to}}
    </div>
  </h2>

  <div class="ui basic buttons">
    {{#if book.fileUrl}}
      <a href={{book.fileUrl}} target="_blank" class="ui button">
        Download eBook
      </a>
    {{/if}}
    {{#link-to "books.book.edit" book.slug class="ui button"}}
      Edit
    {{/link-to}}
    <button class="ui button" onclick={{action openBookDeleteConfirm}}>
      Delete
    </button>
  </div>

  <div class="ui divider"></div>

  {{#if (or book.description book.pubYear)}}

    {{#if book.description}}
      <p>
        {{more-or-less-message
            message=book.description
        }}
      </p>
    {{/if}}

    {{#if book.pubYear}}
      <p>
        <b>Year: </b>{{book.pubYear}}
      </p>
    {{/if}}

  {{else}}
    <div class="ui visible message">
      <p>No book info yet</p>
    </div>
  {{/if}}

</div>

{{book-cover
    book=book
}}

{{#if isShowBookDeleteConfirm}}
  {{#modal-dialog
      onClose=(action closeBookDeleteConfirm)
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
  }}
    <div class="ui basic segment">
      <h3 class="ui header">Delete "{{book.title}}" book?</h3>
      <button class="ui basic negative button"
          onclick={{queue
            (perform deleteBook book)
            (action closeBookDeleteConfirm)
          }}
      >
        Delete
      </button>
      <button class="ui basic button" onclick={{action closeBookDeleteConfirm}}>
        Cancel
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}