<div class="ui grid centered">
  <div class="three wide column">
    {{book-card
        book=book
        isBlank=true
    }}
  </div>

  <div class="nine wide column">
    <h2 class="ui dividing header">
      {{book.title}}
      <div class="sub header">by {{book.author.name}}</div>
    </h2>

    <p>{{book.description}}</p>

    <p>
        <b>Publishing year: </b>{{book.pubYear}}
    </p>

  </div>
</div>

