<div local-class="info">
  <h2 class="ui dividing header">
    {{book.title}}
    <div class="sub header">
      by {{#link-to "authors.author" book.author.id}}
        {{book.author.fullName}}
      {{/link-to}}
    </div>
  </h2>

  <div class="ui basic buttons icon labeled">
    {{#if book.fileUrl}}
      <a href={{book.fileUrl}} target="_blank" class="ui button">
        Download eBook
        <i class="icon cloud download"></i>
      </a>
    {{/if}}
    {{#link-to "books.book.edit" book.slug class="ui button"}}
      Edit book
      <i class="icon edit"></i>
    {{/link-to}}
    <button class="ui button" onclick={{action openBookDeleteConfirm}}>
      Delete book
      <i class="icon remove"></i>
    </button>
  </div>

  <div class="ui divider"></div>

  <p local-class="description">
    {{book.description}}
  </p>

  <p>
      <b>Year: </b>{{book.pubYear}}
  </p>

</div>

{{book-card
    book=book
    isBlank=true
}}

{{#if isShowBookDeleteConfirm}}
  {{#modal-dialog
      onClose=(action closeBookDeleteConfirm)
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
  }}
    <div class="ui basic segment">
      <h3 class="ui header">Delete "{{book.title}}" book?</h3>
      <button class="ui basic negative button"
          onclick={{queue
            (perform deleteBook book)
            (action closeBookDeleteConfirm)
          }}
      >
        Delete
      </button>
      <button class="ui basic button" onclick={{action closeBookDeleteConfirm}}>
        Cancel
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}