{{#unless session.isAuthenticated}}

  <div class="ui middle aligned center grid" local-class="login-layout">
    <div class="column" local-class="login-container">
      <h2 class="ui orange header centered">
        Welcome to Bookshelf
      </h2>

        <form class="ui large form" {{action "login" email password on="submit"}}>

          <div class="ui stacked segment">

            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                {{one-way-input email update=(action (mut email)) placeholder="Email address"}}
              </div>
            </div>

            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{one-way-input password update=(action (mut password)) type="password" placeholder="Password"}}
              </div>
            </div>

            <button class="ui orange fluid large submit button {{if session.isWorking 'loading'}}">Log In</button>

          </div>

          {{#if message}}
            <div class="ui error message">
              {{message}}
            </div>
          {{/if}}
        </form>

    </div>
  </div>

{{/unless}}