<div local-class="info">
  <h2 class="ui dividing header">
    {{author.fullName}}
  </h2>

   <div class="ui basic buttons">
    {{#link-to "authors.author.edit" author.slug class="ui button"}}
      Edit
    {{/link-to}}
    <button class="ui button" onclick={{action openAuthorDeleteConfirm}}>
      Delete
    </button>
  </div>

  <div class="ui divider"></div>

  {{#if (and (not author.biography) (not author.birthYear))}}
    <div class="ui visible message">
      <p>No author info yet</p>
    </div>
  {{else}}
    {{#if author.biography}}
      <p local-class="biography">
        {{author.biography}}
      </p>
    {{/if}}

    {{#if author.birthYear}}
      <p>
        <b>Year of birth: </b>{{author.birthYear}}
      </p>
    {{/if}}
  {{/if}}
</div>

{{author-portrait
    portraitUrl=author.portraitUrl
}}

<div local-class="author-books">
  <h3 class="ui dividing header">Author's books</h3>

  {{books-list books=author.books}}
</div>

{{#if isShowAuthorDeleteConfirm}}
  {{#modal-dialog
      onClose=(action closeAuthorDeleteConfirm)
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
  }}
    <div class="ui basic segment">
      <h3 class="ui header">Delete "{{author.fullName}}" author?</h3>
      <button class="ui basic negative button"
          onclick={{queue
            (perform deleteAuthor author)
            (action closeAuthorDeleteConfirm)
          }}
      >
        Delete
      </button>
      <button class="ui basic button" onclick={{action closeAuthorDeleteConfirm}}>
        Cancel
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}