<div class="ui grid centered">
  <div class="three wide column">
    {{book-card
        book=book
    }}
    <div local-class="upload-cover">
      <label local-class="upload-cover-label" class="ui button fluid">
      Upload book cover
      {{one-way-file
          update=(action uploadBookCover)
          id="book-cover-file"
          local-class="upload-cover-input"
      }}
      </label>
    </div>
  </div>

  <div class="seven wide column">
    <h2 class="ui dividing header">Add new book</h2>

    <div class="ui form">

      <div class="field">
        <label>Title</label>
        {{one-way-input book.title update=(action (mut book.title))}}
      </div>

      <div class="field">
        <label>Description</label>
        {{one-way-textarea book.description update=(action (mut book.description)) rows="2"}}
      </div>

      <div class="field">
        <label>Publishing year</label>
        {{one-way-number book.pubYear update=(action (mut book.pubYear))}}
      </div>

      <div class="field">
        <label>Author</label>
        {{one-way-input author.name update=(action (mut author.name))}}
      </div>

      {{yield}}

    </div>
  </div>
</div>
