<div local-class="form">

  <div class="ui form">
    <div class="field">
      <label>Title</label>
      {{one-way-input book.title update=(action (mut book.title))}}
    </div>

    <div class="field">
      <label>Description</label>
      {{one-way-textarea book.description update=(action (mut book.description)) rows="10"}}
    </div>

    <div class="field">
      <label>Publishing year</label>
      {{one-way-number book.pubYear update=(action (mut book.pubYear))}}
    </div>
  </div>

  <div class="ui segment">
    <h4>Bookshelf</h4>

    {{#if isNewBookshelf}}

      <div class="ui form">
        <div class="field">
          <label>Title</label>
          {{one-way-input newBookshelfInfo.title update=(action (mut newBookshelfInfo.title))}}
        </div>

        <button class="ui button basic primary"
          onclick={{queue (action addNewBookshelf book newBookshelfInfo) (action cleanNewBookshelfInfo) (action hideNewBookShelfForm)}}
        >
          Create New Bookshelf
        </button>

        <button class="ui button basic negative" onclick={{action hideNewBookShelfForm}}>
          Cancel
        </button>
      </div>

    {{else}}

      <div class="ui form">
        <div class="fields">
          <div class="nine wide field">
            {{#power-select
                selected=book.bookshelf
                options=bookshelves
                searchField="fullInitials"
                searchEnabled=(gt bookshelves.length 5)
                onchange=(action (mut book.bookshelf))
                placeholder="Pick Existed Bookshelf"
            as |bookshelf|}}
              {{bookshelf.title}}
            {{/power-select}}
          </div>

          <div class="seven wide field">
            <button class="ui icon labeled button fluid" onclick={{action showNewBookShelfForm}}>
              New Bookshelf
              <i class="add icon"></i>
            </button>
          </div>
        </div>
      </div>

    {{/if}}

  </div>

  <div class="ui segment">
    <h4>Author</h4>

    {{#if isNewAuthor}}

      <div class="ui form">
        <div class="field">
          <label>Last name</label>
          {{one-way-input newAuthorInfo.lastName update=(action (mut newAuthorInfo.lastName))}}
        </div>

        <div class="field">
          <label>First name</label>
          {{one-way-input newAuthorInfo.firstName update=(action (mut newAuthorInfo.firstName))}}
        </div>

        <div class="field">
          <label>Patronymic</label>
          {{one-way-input newAuthorInfo.patronymic update=(action (mut newAuthorInfo.patronymic))}}
        </div>

        <button class="ui basic primary button"
          onclick={{queue (action addNewAuthor book newAuthorInfo) (action cleanNewAuthorInfo) (action hideNewAuthorForm)}}
        >
          Create New Author
        </button>

        <button class="ui button basic negative" onclick={{action hideNewAuthorForm}}>Cancel</button>
      </div>

    {{else}}
      <div class="ui form">
        <div class="fields">

          <div class="nine wide field">
            {{#power-select
                selected=book.author
                options=authors
                searchEnabled=(gt authors.length 5)
                searchField="fullInitials"
                onchange=(action (mut book.author))
                placeholder="Pick Existed Author"
            as |author|}}
              {{author.fullInitials}}
            {{/power-select}}
          </div>

          <div class="seven wide field">
            <button class="ui icon labeled button fluid" onclick={{action showNewAuthorForm}}>
              New Author
              <i class="add icon"></i>
            </button>
          </div>

        </div>
      </div>
    {{/if}}
  </div>

  {{yield}}

</div>

<div local-class="files">
  {{book-cover
      coverUrl=book.coverUrl
  }}

  <div local-class="btn-group">
    <div class="ui vertical labeled icon buttons small fluid">
      {{upload-button
          title=(if book.coverUrl "Change book cover" "Upload book cover")
          fileInputId="book-cover-image"
          icon="file image outline"
          update=(perform tasks.uploadBookCover book)
          isUploaded=book.coverUrl
      }}

      {{upload-button
          title=(if book.fileUrl "Change eBook file" "Upload eBook file")
          fileInputId="book-file"
          icon="file text outline"
          update=(perform tasks.uploadBookFile book)
          isUploaded=book.fileUrl
      }}
    </div>
  </div>
</div>