{{#if session.isAuthenticated}}
  <div local-class="layout">

    {{bc-menu
        bookshelves=model.bookshelves
        user=model.user.firstObject
    }}

    <div local-class="stretch"></div>

    <div local-class="page">
      <div class="bc-container" local-class="masthead">

          <div local-class="search">
            <div class="ui input">
              {{one-way-search search update=(action (mut search)) placeholder="Search by title..."}}
            </div>
          </div>

          <div class="ui buttons icon labeled">
            {{#link-to "authors.new" tagName="button" class="ui button"}}
              Add Author
              <i class="plus icon"></i>
            {{/link-to}}

            {{#link-to "books.new" tagName="button" class="ui button"}}
              Add Book
              <i class="plus icon"></i>
            {{/link-to}}
          </div>

      </div>

      <div class="ui divider"></div>

      <div class="bc-container" local-class="main">
        <div local-class="breadcrumbs">
          {{bread-crumbs class="ui breadcrumb large" tagName="div" linkable=true}}
        </div>
      </div>

      {{outlet}}
    </div>

  </div>
{{else}}
  {{outlet}}
{{/if}}