{{#if session.isAuthenticated}}
  <div local-class="layout">

    <div class="ui inverted left vertical menu fixed" local-class="sidebar">

      {{#link-to "index" class="item"}}
        <h1>Bookshelf</h1>
      {{/link-to}}

      <div class="item">
        <div local-class="user-item">
          <div>
            <img class="ui avatar image" src="/img/avatar-placeholder.png">
            <span>{{model.firstObject.username}}</span>
          </div>

          <button class="ui mini inverted button" {{action "logout"}}>Log Out</button>
        </div>
      </div>

      {{#link-to "books" class="item"}}
        <i class="book icon"></i>
        Books
      {{/link-to}}

    </div>

    <div local-class="stretch"></div>

    <div class="site">
      <div local-class="masthead-wrapper">
        <div class="ui container">

          <div local-class="breadcrumbs">
            {{bread-crumbs class="ui breadcrumb large" tagName="div" linkable=true}}
          </div>

          <div id="masthead"></div>

        </div>
      </div>

      <div class="ui container" local-class="main">
        {{outlet}}
      </div>
    </div>

  </div>
{{else}}
  {{outlet}}
{{/if}}