{{#if session.isAuthenticated}}
  <div local-class="layout">

    {{bc-menu
        bookshelves=model.bookshelves
        user=model.user.firstObject
    }}

    <div local-class="page">
      <div class="bc-container" local-class="main">
        <div local-class="breadcrumbs">
          {{bread-crumbs class="ui breadcrumb large" tagName="div" linkable=true}}
        </div>
      </div>

      {{outlet}}
    </div>

  </div>
{{else}}
  {{outlet}}
{{/if}}