{{#link-to "index" class="item"}}
  <h1 class="ui header">
    <i class="leanpub icon"></i>
    <div class="content">
      BookCase
    </div>
  </h1>
{{/link-to}}

<div class="item">
  {{current-user user=user}}
</div>

<div class="item">
  {{global-search

  }}
</div>

{{#link-to "books" class="item" local-class="link-item"}}
  {{menu-item
      title="All Books"
      icon="plus"
      onIconClick=(queue
        (action preventDefaultAndPropagation)
        (action redirectToNewBook)
      )
      local-class="main-item"
  }}
{{/link-to}}

{{#link-to "authors" class="item" local-class="link-item"}}
  {{menu-item
      title="Authors"
      icon="plus"
      onIconClick=(queue
        (action preventDefaultAndPropagation)
        (action redirectToNewAuthor)
      )
      local-class="main-item"
  }}
{{/link-to}}

<div class="item">
  {{menu-item
      title="Bookshelves"
      icon="plus"
      onIconClick=(perform bookshelvesService.createNewBookshelf)
  }}

  <div class="menu">
    {{#each bookshelves as |bookshelf|}}

      {{#if (eq editBookshelfId bookshelf.id)}}
        <div class="item">
          {{bookshelf-inline-form
              bookshelf=bookshelf
              onApprove=(queue
                (perform bookshelvesService.updateBookshelf bookshelf)
                (action toggleEditBookshelf bookshelf.id)
              )
              onDeny=(action toggleEditBookshelf bookshelf.id)
          }}
        </div>
      {{else}}
        {{#link-to "bookshelf" bookshelf.slug class="item" local-class="link-item"}}
          {{bookshelf-menu-item
              bookshelf=bookshelf
              onEditClick=(queue
                (action preventDefaultAndPropagation)
                (action toggleEditBookshelf bookshelf.id)
              )
              onDeleteClick=(queue
                (action preventDefaultAndPropagation)
                (action openBookshelfDeleteConfirm bookshelf)
              )
              local-class="sub-item"
          }}
        {{/link-to}}
      {{/if}}

    {{/each}}
  </div>
</div>

{{#if isShowBookshelfDeleteConfirm}}
  {{#modal-dialog
      onClose=(action closeBookshelfDeleteConfirm)
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
  }}
    <div class="ui basic segment">
      <h3 class="ui header">Delete "{{bookshelfForDeletion.title}}" bookshelf?</h3>
      <button class="ui basic negative button"
          onclick={{queue
            (perform bookshelvesService.deleteBookshelf bookshelfForDeletion)
            (action closeBookshelfDeleteConfirm)
          }}
      >
        Delete
      </button>
      <button class="ui basic button" onclick={{action closeBookshelfDeleteConfirm}}>
        Cancel
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}