{{#link-to "index" class="item"}}
  <h1 class="ui header">
    <i class="leanpub icon"></i>
    <div class="content">
      BookCase
    </div>
  </h1>
{{/link-to}}

<div class="item">
  {{current-user user=user}}
</div>

<div class="item">
  <div class="ui input">
    {{one-way-search search update=(action (mut search)) placeholder="Search by title..."}}
  </div>
</div>

{{#link-to "books" class="item"}}
  {{menu-item
      title="All Books"
      icon="book"
      onIconClick=(action redirectToNewBook)
  }}
{{/link-to}}

{{#link-to "authors" class="item"}}
  {{menu-item
      title="Authors"
      icon="student"
      onIconClick=(action redirectToNewAuthor)
  }}
{{/link-to}}

{{#if bookshelves}}
  <div class="item">
    <div class="header">Bookshelves</div>
    <div class="menu">
      {{#each bookshelves as |bookshelf|}}
        {{#link-to "bookshelf" bookshelf.id class="item"}}
          <i class="circle icon" style="color: tomato"></i>
          {{bookshelf.title}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
{{/if}}