{{#link-to "index" class="item"}}
  <h1 class="ui header">
    <i class="leanpub icon"></i>
    <div class="content">
      BookCase
    </div>
  </h1>
{{/link-to}}

<div class="item">
  {{current-user user=user}}
</div>

<div class="item">
  <div class="ui input">
    {{one-way-search search update=(action (mut search)) placeholder="Search by title..."}}
  </div>
</div>

{{#link-to "books" class="item" local-class="link-item"}}
  {{menu-item
      title="All Books"
      icon="book"
      onIconClick=(action redirectToNewBook)
      local-class="main-item"
  }}
{{/link-to}}

{{#link-to "authors" class="item" local-class="link-item"}}
  {{menu-item
      title="Authors"
      icon="student"
      onIconClick=(action redirectToNewAuthor)
      local-class="main-item"
  }}
{{/link-to}}

{{#if bookshelves}}
  <div class="item">
    {{menu-item
        title="Bookshelves"
        icon="cubes"
        onIconClick=(perform bookshelvesService.createNewBookshelf)
        class="header"
    }}
    <div class="menu">
      {{#each bookshelves as |bookshelf|}}
      {{#if (eq editBookshelfId bookshelf.id)}}
        <div class="item">
          {{bookshelf-inline-form
              bookshelf=bookshelf
              onApprove=(queue (perform bookshelvesService.updateBookshelf bookshelf) (action toggleEditBookshelf bookshelf.id))
              onDeny=(action toggleEditBookshelf bookshelf.id)
          }}
        </div>
      {{else}}
        {{#link-to "bookshelf" bookshelf.id class="item" local-class="link-item"}}
          {{menu-item
              title=bookshelf.title
              icon="circle"
              hoverIcon="write"
              iconColor=bookshelf.color
              onIconClick=(action toggleEditBookshelf bookshelf.id)
              local-class="sub-item"
          }}
        {{/link-to}}
      {{/if}}

      {{/each}}
    </div>
  </div>
{{/if}}