{{#link-to "index" class="item"}}
  <h1 class="ui header">
    <i class="leanpub icon"></i>
    <div class="content">
      BookCase
    </div>
  </h1>
{{/link-to}}

<div class="item">
  {{current-user user=user}}
</div>

<div class="item">
  {{global-search

  }}
</div>

{{!-- {{#link-to "books" class="item" local-class="link-item"}}
  {{menu-item
      title="Currently reading"
      icon="flag"
      onIconClick=(action redirectToCurrentlyReading)
      local-class="main-item"
  }}
{{/link-to}} --}}

{{#link-to "books" class="item" local-class="link-item"}}
  {{menu-item
      title="All Books"
      icon="book"
      onIconClick=(queue
        (action preventDefaultAndPropagation)
        (action redirectToNewBook)
      )
      local-class="main-item"
  }}
{{/link-to}}

{{#link-to "authors" class="item" local-class="link-item"}}
  {{menu-item
      title="Authors"
      icon="student"
      onIconClick=(queue
        (action preventDefaultAndPropagation)
        (action redirectToNewAuthor)
      )
      local-class="main-item"
  }}
{{/link-to}}

<div class="item">
  {{menu-item
      title="Bookshelves"
      icon="cubes"
      onIconClick=(perform bookshelvesService.createNewBookshelf)
      class="header"
  }}

  <div class="menu">
    {{#each bookshelves as |bookshelf|}}

      {{#if (eq editBookshelfId bookshelf.id)}}
        <div class="item">
          {{bookshelf-inline-form
              bookshelf=bookshelf
              onApprove=(queue
                (perform bookshelvesService.updateBookshelf bookshelf)
                (action toggleEditBookshelf bookshelf.id)
              )
              onDeny=(queue
                (action rollbackBookshelf bookshelf)
                (action toggleEditBookshelf bookshelf.id)
              )
          }}
        </div>
      {{else}}
        {{#link-to "bookshelf" bookshelf.slug class="item" local-class="link-item"}}
          {{#menu-item
              title=bookshelf.title
              icon="circle"
              iconStyle=bookshelf.color
              hoverIcon="write"
              iconColor=bookshelf.color
              onIconClick=(queue
                (action preventDefaultAndPropagation)
                (action toggleEditBookshelf bookshelf.id)
              )
              local-class="sub-item"
          }}
              <i class="icon trash"
                  onclick={{queue
                    (action preventDefaultAndPropagation)
                    (action openBookshelfDeleteConfirm bookshelf)
                  }}
              ></i>
          {{/menu-item}}
        {{/link-to}}
      {{/if}}

    {{/each}}
  </div>
</div>

{{#if isShowBookshelfDeleteConfirm}}
  {{#modal-dialog
      onClose=(action closeBookshelfDeleteConfirm)
      targetAttachment="center"
      translucentOverlay=true
      animatable=true
  }}
    <div class="ui basic segment">
      <h3 class="ui header">Delete "{{bookshelfForDeletion.title}}" bookshelf?</h3>
      <button class="ui basic negative button"
          onclick={{queue
            (perform bookshelvesService.deleteBookshelf bookshelfForDeletion)
            (action closeBookshelfDeleteConfirm)
          }}
      >
        Delete
      </button>
      <button class="ui basic button" onclick={{action closeBookshelfDeleteConfirm}}>
        Cancel
      </button>
    </div>
  {{/modal-dialog}}
{{/if}}